name: "Cronjob"
on:
  schedule:
    - cron: '15 */6 * * *'
  release:
    types: [published]

jobs:
  update-weather:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update articles
        uses: huantt/article-listing@v1.0.0
        with:
          template-file: 'README.md.template'
          out-file: 'README.md'
      - name: Commit
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "update"
          git push origin main
